.recap-video-head-container {
    padding: 30px 0 50px 40px;
}

.recap-video-card {
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    align-items: start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    align-items: center;
}

.recap-video-head {
    color: #111827;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    line-height: 2.5rem;
}
.recap-video-heading {
    font-size: 3.1rem;
    transform: translateY(-30%);
    font-weight: bold;
}
.recap-video-span {
    color: #111827;
    font-size: 0.875rem;
    line-height: 30px;
    font-weight: 500;
    color: #027bff;
}

.recap-video-description {
    color: #111827;
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

/* style={{
                                                width: "80px",
                                                height: "50px",
                                                objectFit: "cover",
                                            }} */
