.classroom-wrapper {
    margin-top: 2%;
}

.classroom-header {
    padding: 1rem 1.5rem;
}

.classroom-header h1 {
    margin: 0;
    font-size: 3.25rem;
    font-weight: 600;
    color: #212529;
}
.classroom-header h1 span {
    font-size: 2.25rem;
    font-weight: 400;
    color: #212529;
}

.classroom-header p {
    margin-block: 4%;
    font-size: 1.2rem;
    font-weight: 400;
    max-width: 768px;
    color: #212529;
}

.classroom-header .join-btn {
    padding: 0.8rem 1rem;
    border-radius: 0.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: none;
    width: 60%;
    font-size: 1rem;
    color: white;
    transition: all 0.2s ease;
}

.classroom-header .join-btn:hover {
    background-color: #e9ecef;
    color: var(--primary-color);
}

.classroom-header .loading {
    background-color: #e9ecef;
}

.classroom-header .success {
    background-color: var(--primary-color);
}
.classroom-header .error {
    background-color: #ff0033;
    color: white;
}
