.faq-container {
    padding: clamp(1rem, 3vw, 2rem) clamp(1rem, 4vw, 6rem);
    min-height: 100vh;
    position: relative;
}

.faq-header {
    background-color: var(--primary-color);
    padding-inline: clamp(1.5rem, 5vw, 4rem);
    padding-block: 0.7rem;
    border-radius: 10px;
    margin-bottom: 5%;
    color: white !important;
}

.faq-container h1 {
    font-size: clamp(1.75rem, 5vw, 3rem);
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: clamp(30px, 10vh, 100px);
}

.faq-container li h3 {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    margin-top: clamp(15px, 3vh, 20px);
    line-height: 1.4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.faq-container .sub {
    font-size: clamp(0.95rem, 2.5vw, 1.2rem);
    margin-bottom: clamp(30px, 15vh, 150px);
}

.faq-container ul {
    list-style-type: none;
    padding: 0;
}

.faq-container li {
    width: 100%;
    margin-bottom: clamp(1rem, 3vh, 2rem);
    border: 1px solid #eee;
    padding: clamp(1rem, 2.5vw, 1.2rem);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
}

.faq-container li:hover {
    border: 1px solid #007bff2b;
}

.faq-container li p {
    width: 100%;
    opacity: 0;
    height: 0;
    z-index: -1;
    transform: translateY(-20px);
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out,
        height 0.3s ease-in-out;
    font-size: clamp(0.9rem, 2vw, 1rem);
}

.faq-container li p.down {
    opacity: 1;
    height: auto;
    transform: translateY(0);
}

.svg-rotate,
.svg-normal {
    font-size: clamp(1.1rem, 3vw, 1.5rem);
    transition: transform 0.3s ease-in-out;
}

.svg-rotate {
    transform: rotate(180deg);
}

.svg-normal {
    transform: rotate(0deg);
}
