.calendar-section.cal {
    overflow-y: auto;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 90%;
    max-width: 100%;
    margin: 0 auto;
}
.cal-container {
    background-color: #f5f7fb;
}

@media (max-width: 768px) {
    .calendar-section.cal {
        width: 100%;
        padding-inline: 2rem;
        margin-top: 2rem;
        height: auto;
    }
}
